:root {
  --base: #812B83;
  --accent: #B52A2E;
  --contrast: #B5B22A;
  --base-lt: #F3F5F6;
  --accent-lt: #FAF0FA;
  --contrast-lt: #F2F8F6;
  --off-white: #FAFAFA;
  --off-black: #242424;
  --de-emphasize: #9e9e9e;
}


.theme-bg-base {
  background-color: var(--base);
  color: white;
}

.theme-bg-base-lt {
  background-color: var(--base-lt);
  color: var(--off-black);
}

.theme-bg-accent {
  background-color:  var(--accent);
  color: white;
}

.theme-bg-accent-lt {
  background-color:  var(--accent-lt);
  color: var(--off-black);
}

.theme-bg-contrast {
  background-color: var(--contrast);
  color: white;
}

.theme-bg-contrast-lt {
  background-color: var(--contrast-lt);
  color: var(--off-black);
}

.theme-content {
  color: var(--off-black);
}

.theme-base {
  color: var(--base);
}

.theme-accent {
  color: var(--accent);
}

.theme-contrast {
  color: var(--contrast);
}

#leftPanel {
  overflow: hidden ;
}

#leftPanel h4 {
  min-width: max-content;
}

#leftPanel .list-group-item {
  min-width: max-content;
}

.action-button {
  color:  var(--de-emphasize);
}

.arrow-point-left {
  transform: rotate(180deg);
}

.btn.panel-open-button {
  border-color: var(--base);
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: var(--contrast-lt);
  color: var(--accent);
  margin-top: 1rem;
  margin-left: -1px;
}

.panel-preview {
  background-color: var(--contrast-lt);
  width: 1rem;
  border-right: 1px solid var(--base);
}

button:hover.btn.panel-open-button {
  border-color: var(--base);
  color: var(--base);

}
