:root {
  --primary:  #AF4608;
  --secondary:  #EFC88B;
  --tertiary:  #482C3D;
  --accent: #449DD1;
  --black: #1A1D23;
  --white: #FAFAFF;
}


.bg-theme-primary {
  background-color: var(--primary);
  color: var(--white);
}

.bg-theme-secondary {
  background-color:  var(--secondary);
  color: var(--black);
}

.bg-theme-tertiary {
  background-color:  var(--tertiary);
  color: var(--white);
}

.text-theme-primary {
  color: var(--primary);
}

.text-theme-secondary {
  color: var(--secondary);
}

.text-theme-tertiary {
  color: var(--tertiary);
}
