body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.item-menu-button {
  float:  right;
}

.item-menu-button button {
  margin-right: 0.3em;
}
.item-menu-button button:last-child {
  margin-right: 0;
}

.hidden {
  display:  none !important;
}

.list-selector {
  min-width: 50%;
}
